<configuration>

    <property name="LOG_HOME" value="target/logs"/>
    <property name="LOG_FILE_NAME" value="/feature-toggles.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss}|v:%X{version}|%-25.25logger{25}|[%-5level]|reqId:%X{requestId}|userId:%X{userId}|%-20.20thread|%m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_FILE_NAME}</file>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss}|v:%X{version}|%-25.25logger{25}|[%-5level]|reqId:%X{requestId}|userId:%X{userId}|%-20.20thread|%m%n
            </pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${LOG_FILE_NAME}.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>100</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>200MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.amazonaws" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.flywaydb" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.ff4j" level="WARN"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="software.amazon.awssdk" level="WARN"/>
    <logger name="org.redisson" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="org.apache.kafka" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
